:root{
    --gunmetal: #223843ff;
    --reseda-green: #878e76ff;
    --cambridge-blue: #8d9d90ff;
    --tea-rose-red: #ffccc9ff;
    --tea-rose-red-2: #ffcfd2ff;
}

*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 4fr;
    
}

header{
    padding: 10px 30px;
    grid-column: 1 / 3;
    background-color: var(--gunmetal);
    color: white;
    display: flex;
    align-items: center;
}

#logo-text{
    font-size: 34px;
    font-weight: 700;
    margin-left: 10px;
}

nav{
    padding: 10px 20px;
    background-color: var(--cambridge-blue);
    color: white;
    grid-row: 2 / 5;
}

nav button{
    border: none;
    background-color: inherit;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

nav li{
    padding: 10px 20px;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

nav li:hover{
    transition: ease-in 200ms;
    background-color: var(--gunmetal);
}

.project{
    word-break: break-all;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: ease-in 200ms;
    cursor: pointer;
}

.project:hover{
    background-color: var(--gunmetal);
}

#addProjects{
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: ease-in 200ms;
}

#addProjects:hover{
    background-color: var(--gunmetal);
}

#projectsForm{
    display: none;
    gap: 5px;
}

#projectsForm > input[type="button"], #projectsForm > input[type="submit"]{
    padding: 10px;
    border: none;
    cursor: pointer;
}


main{
    padding: 20px;
    background-color: white;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

main > p {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 10px;
}

main button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#todos-container{
    width: 700px;
}

.todo{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo:hover{
    transition: ease-in 200ms;
    background-color: var(--tea-rose-red);
}

.todo > div > input {
    cursor: pointer;
}

.inputs{
    flex-grow: 1;
}

.close-btn{
    cursor: pointer;
}

#addTodo{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
}

#addTodo:hover{
    transition: ease-in 200ms;
    background-color: var(--reseda-green);
}

#todoInputContainer{
    padding: 10px 20px;
    display: none;
    justify-content: center;
}

#todoInputContainer > input{
    width: 500px;
}

.buttonsTodoInput{
    display: flex;
    gap: 20px;
}

.buttonsTodoInput input{
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#add{
    background-color:  rgb(73, 236, 73);
}

#cancel{
    background-color: rgb(226, 91, 91);
}

footer{
    padding: 10px 0px;
    grid-column: 1 / 3;
    background-color: var(--gunmetal);
    color: white;
    display: flex;
    justify-content: center;
}

footer a{
    color: inherit;
    margin-left: 10px;
}

footer > a > img{
    height: 24x;
    width: 24px;
}

.cross-icon {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.cross-icon::before,
.cross-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; 
  height: 100%;
  background-color: black;
  transform-origin: center;
}

.cross-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
